Code
Thunar
autostart
dconf
google-chrome
gthumb
gtk-3.0
gtk-4.0
nano
pulse
systemd
xfce4
yay
EOS-greeter.conf
eos-update-notifier.first_init
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
Slack
Insomnia
Outline
QtProject.conf
QtProject
TradingView
xed
obs-studio
vlc
mimeapps.list
menus
godot
flameshot
bottom
